@page
@model TCC_Projeto.Views.Home.EntrarModel
@{
/*    ViewData["Title"] = "Home";  *TODO ERRO AO CARREGAR PAGINA* */
}
<div>
    <a href="/home/CriarImpressao/" class="btn btn-success" role="button" aria-pressed="true">Criar Novo PDF</a>
</div>
<br>

<table class="table table-sm table-dark">
    <thead>
        <tr>
            <th scope="col-1">ID</th>
            <th scope="col-1">Descrição</th>
            <th scope="col">Quantidade</th>
            <th scope="col-1">Baixar</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>teste nome</td>
            <td>5</td>
            <td>icone</td>
        </tr>
    </tbody>
</table>