@{
    Layout = null;

}
<form method="post" action="/Etiqueta/AdicionarNovaFita">
    <div class="modal-header">
        <h5 class="modal-title" id="modalLabel">Fitas</h5>

        <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="fechar_modal">
            <span aria-hidden="true">&times;</span>
        </button>

    </div>
    <div class="modal-body">
        <div>
            <label class="form-label" for="id_fita">Fitas</label>
            <select name="fita" id="id_fita" class="form-control">
                <option value="" selected>------------</option>
            </select>
        </div>
        <br />

        <div class="row">
            <div class="col-6">
                <label class="form-label">Quantidade</label>
                <input type="number" name="quantidade" value="1" class="form-control" />
            </div>

            <div class="col-6">
                <label class="form-label">Largura</label>
                <input type="number" name="largura" value="1" class="form-control" />
            </div>
        </div>
    </div>
    <hr />

    <div id="container_imagem">Selecione uma fita para visualizar a imagem</div>
    <br>
    <div class="modal-footer d-flex justify-content-end">
        <button type="submit" class="btn btn-success">Adicionar</button>
    </div>
</form>
<script>
    let imagens = Array()
    $("#fechar_modal").click(() => {
        $("#modalMix").modal('hide')
    })

    $(document).ready(function () {
        $.ajax({
            url: '/etiqueta/obtertodasetiquetas',
            type: 'get',
            datatype: 'json',
            success: function (data) {
                data.map((item) => {
                    imagens.push({'id':item.id, "imagem":item.imagem})
                    $("#id_fita").append(
                        `<option value=${item.id}>${item.nome}</option>`
                    )
                })
            },
            error: function () {
                console.log('erro ao carregar as etiquetas.');
            }
        });

        console.log(imagens)
    })

    $("#id_fita").change(() => {
        var id_fita = $("#id_fita").val()
        carregarImagem(id_fita)
    })

    function carregarImagem(id) {
        imagens.map((item) => {
            $("#container_imagem").empty()
            $("#container_imagem").append()
            if (item.id == id) {
                $("#container_imagem").append(`<img src = "data:image/jpeg;base64,${item.imagem}" class="card-img-top" alt = "..." style = "height: 100px;object-fit: cover;" >`)
            }
        })

        if ($("#container_imagem").html() == '') {
            $("#container_imagem").append('Selecione uma fita para visualizar a imagem')
        }
    }
</script>